.profile--container {
	margin-bottom: 4.4rem;
	font-family: 'Poppins', sans-serif;
	max-width: 30rem;
	margin-inline: auto;
	color: var(--primary-font);
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	padding: 1rem 2rem;
	border-radius: 11px;
	overflow: hidden;
	font-weight: 500;
}
.profile--container h2 {
	font-size: 2.4rem;
	text-align: start;
}
.profile--container h3 {
	font-size: 2rem;
	text-align: start;
}
.profile--container h4 {
	font-size: 1.8rem;
	text-align: start;
}
.profile--container p {
	font-size: 1.2rem;
	text-align: start;
}
.profile--img--container {
	max-width: 20rem;
	margin-inline: auto;
	margin-bottom: 1.4rem;
}

.profile--img--container img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}
.btn--update--profile,
.btn--update--profile:link,
.btn--update--profile:visited {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	justify-self: center;
	border: none;
	padding: 0.6rem 1.4rem;
	border-radius: 8px;
	background-color: var(--primary-light);

	transition: all 0.3s;
}

.btn--update--profile:hover,
.btn--update--profile:active {
	background-color: var(--primary-dark);
	color: var(--lighter-font);
}

@media (min-width: 34em) {
	.profile--container {
		max-width: 44rem;
	}
	.profile--img--container {
		max-width: 30rem;
	}
}