#nav--logo {
	height: 50px;;
}
.navbar-toggler{
	border: none;
	margin-right: 1rem;
}
.active {
    font-size: 15px;
}
.chat{
    display: grid;
    align-items: center;  
}
nav {
	font-size: 1.6rem;
	display: flex;
	gap: 0.6rem;
	margin-bottom: 2rem;
}

.btn--profile {
	margin-left: auto;
	font-weight: 600;
	letter-spacing: -0.04rem;
}
